* {
  font-family: "Poppins";
}

.bg-blue {
  background: #166197;
}

.bg-white {
  color: #317bb1;
  font-weight: bold;
}

.bg-white:hover {
  color: #57afed;
}

.bg-light-blue {
  background: #317bb1;
}

.fitur {
  height: 205px;
  background: #e3e2e2;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

.beli {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 220px;
  height: 52px;
}

.login-field {
  width: 560px;
  background: #317bb1;
  box-shadow: 0px 6px 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

label {
  font-weight: 800;
  line-height: 30px;
}

input {
  height: 48px;
}
::placeholder {
  font-weight: 800;
  color: #9b9b9b;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ! List produk */
body {
  background: #eee;
}
.ratings i {
  font-size: 16px;
  color: red;
}
.strike-text {
  color: red;
  text-decoration: line-through;
}
.product-image {
  width: 100%;
}
.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.spec-1 {
  color: #938787;
  font-size: 15px;
}
h5 {
  font-weight: 400;
}
.para {
  font-size: 16px;
}

